*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  --colorWhite : rgb(226, 226, 226);
  --colorOrange: #e47909;
  --colorGray: rgb(100, 100, 100);
}

.loginPage{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.left-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(./img/building.jpg);
  background-size: cover;
  background-position: center;
}

.layerText{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.548);
  color: var(--colorWhite);
  width: 100%;
  height: 100%;
  gap: 10px;
}

.layerText p:first-child{
  font-size: 1.8rem;
}

.right-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.right-layer{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;

  grid-template-rows: 20% 20% 60%;
}

.loginTitleLayer{
  width: 100%;

  border-bottom: 1px solid gray;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 2rem;
  color: var(--colorOrange);
}

.loginTitleLayer p{
  border-bottom: 3px solid var(--colorOrange);
}

.loginBannerLayer{

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
  color: var(--colorGray);

}


footer{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: absolute;
  top: 98vh;
  width: 100%;
  height: 2vh;
  font-size: 0.8rem;
  color: var(--colorWhite);
  background-color: rgba(0, 0, 0, 0.466);
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


