*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  --colorWhite : rgb(226, 226, 226);
  --colorOrange: #e47909;
  --colorGray: rgb(100, 100, 100);
  --colorHeader: #253237;
  --colorMain: #58717b;
}
.errorPage{
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #c56b0a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPage{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.left-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(./img/building.jpg);
  background-size: cover;
  background-position: center;
}

.layerText{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.548);
  color: var(--colorWhite);
  width: 100%;
  height: 100%;
  gap: 10px;
}

.layerText p:first-child{
  font-size: 1.8rem;
}

.right-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.right-layer{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;

  grid-template-rows: 20% 20% 60%;
}

.loginTitleLayer{
  width: 100%;

  border-bottom: 1px solid rgba(128, 128, 128, 0.651);

  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 2rem;
  color: var(--colorOrange);
}

.loginTitleLayer p{
  border-bottom: 3px solid var(--colorOrange);
}

.loginBannerLayer{

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
  color: var(--colorGray);

}

.loginBannerLayer p {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.247);
}

.formLayer{
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 10px;
}

.inputForm{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--colorOrange);
  font-size: 0.9rem;
  gap: 5px;
}

.inputForm input{
  height: 50px;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: .5px .5px 5px .5px gray;
  outline: none;
  color: rgb(44, 44, 44);
  font-size: 1.1rem;
  padding: 5px;
}

.inputForm input:focus{
  border: 1px solid rgb(69, 184, 255);
}

.formLayer a {
  font-size: 0.7rem;
  text-decoration: none;
  color: var(--colorOrange);
}

.formLayer a:hover{
  color: #c56b0a;
}

.layerButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.layerButton button{
  width: 100%;
  height: 5vh;
  border-radius: 10px;
  background-color: var(--colorOrange);
  color: white;
  border: 0px solid transparent;
  font-size: 1.3rem;
}
.layerButton button:hover{
  background-color: #ff8400;
  cursor: pointer;
}

.layerButton button:active{
  transform: translateY(2px);
}

footer{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: absolute;
  top: 98vh;
  width: 100%;
  height: 2vh;
  font-size: 0.8rem;
  color: var(--colorWhite);
  background-color: rgba(0, 0, 0, 0.466);
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


header{
  display: grid;
  width: 100%;
  height: 10vh;
  color: var(--colorWhite);
  grid-template-columns: 70% 30%;
  background-color: var(--colorHeader);
}

.logo-layer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
}

.logo-layer img{
  width: 200px;
}

.profile-layer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e47909;
}

main{
  background-color: var(--colorMain);
  height: 90vh;
  width: 100vw;
  display: flex;
  padding: 10% 50px;
  flex-direction: column;
}

main > p:first-child {
  font-size: 1.5rem;
}
main > p:nth-child(3){
  font-size: 0.8rem;
}

.content{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cards{
  display: grid;
  width: 100%;
  height: 100%;
  gap: 20px;

  padding: 20px;

  align-items: center;
  justify-content: center;

  grid-template-columns:repeat(auto-fit, minmax(250px, 320px));
  grid-template-rows:repeat(auto-fit, minmax(90%, 100%));
  
  background-color: var(--colorHeader);
  border-radius: 5px;
}

.card-inside{
  height: 100%;
  background-color: white;
  border-radius: 10px;
}
.top-section{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorOrange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.top-section img{
  width: 80%;
  border-radius: 10px;
}
.bottom-section{
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.title-section{
  font-size: 1.5rem;
  text-align: center;
}

.instructor-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
.instructor-section img{
  width: 50px;
  border-radius: 50%;
}
.instructor-role{
  font-size: 0.8rem;
}
#courseBtn{
  color: white;
  width: 200px;
  box-shadow: -1px 2px 2px gray;
}
#courseBtn:active{
  box-shadow: 0px 0px 3px gray;
}

.videoCourseLayer{
  width: 100%;
  height: 85%;
  background-color: var(--colorHeader);
  border-radius: 10px;
}

.layerSwitchButton{
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.layerVideo{
  height: 100%;
}
.layerVideo iframe{
  width: 100%;
  height: 100%;
}

.buttonControls{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttonControls button{
  width: 200px;
  height: 30px;
}